.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  padding-top: 40px;
}

.main-container .text-area {
  padding-bottom: 20px;
}

.main-container .text-area h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
}

.main-container img {
  width: 50vw;
}
